@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	/* -----------------
	/* General CSS Reset */
	/*-------------------*/

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	/* -------------------------- */
	/* Making basic style resets */
	/* ------------------------- */

	html {
		font-size: 62.5%;
		min-height: 100vh;
	}

	html,
	body {
		scroll-behavior: smooth;
		height: 100%;
	}

	input,
	select,
	textarea,
	button {
		font-family: inherit;
	}

	li {
		list-style: none;
	}

	a {
		text-decoration: none;
	}

	button {
		cursor: pointer;
		line-height: inherit;
		border: none;
		outline: none;
	}

	body {
		font-size: 1.6rem;
	}
}



@layer components {
	.bg-hero {
		@apply bg-cover bg-no-repeat;
	}

	.heading {
		@apply text-[2.8rem] font-[300] uppercase leading-[1] tracking-[0.1rem] opacity-[0.9];
	}

	.btn {
		@apply border-2 border-solid border-Very-Dark-Gray p-[0.7rem_3rem] font-alata text-[1.2rem] uppercase tracking-[0.35rem];
	}

	.mobile-flex {
		@apply flex flex-col items-center;
	}

	/* ******** */
	/* To be applied just before Tablet view */
	/* ******** */
	@media (width < 768px) {
		.nav-list {
			@apply flex flex-col gap-[3.2rem] h-[100vh] w-[0] pt-[12rem] fixed [inset:0_0_0_auto] z-[10] [transition:width_150ms_ease] [backdrop-filter:blur(3rem)] bg-[hsl(0,0%,0%,0.85)]
		}

		.nav-list.toggle {
			@apply w-[22rem] [transition:width_500ms_ease]
		}

		.nav-list > a {
			@apply pl-[4rem] tracking-[1px]
		}

		li:is(.underline-indicators){
			@apply relative
		}

		.overlay {
			@apply fixed h-[100vh] w-[100vh] bg-[hsl(0,0%,0%,0.55)]
		}

		.hamburger {
			@apply z-[20] bg-[url(/src/assets/icon-hamburger.svg)] w-[2.4rem] h-[1.6rem] active:rotate-180 active:[transition:all_0.4s_ease]
		}

		.hamburger.close {
			@apply w-[2rem] h-[2rem] bg-[url(/src/assets/icon-close.svg)]
		}
	}
}

/* ********** */
/* GRID SYSTEM */
/* ********* */
@media (width > 768px) {
	section:is(.grid-in-stylesheet) {
		display: grid;
		grid-auto-columns: minmax(16rem, 23rem);
		gap: 2.3rem;
		justify-content: center;
		grid-template-areas:
			'title title . button'
			'..... ..... . ......'
			'one two three four'
			'five six seven eight';
		padding-inline: 3rem;
	}

	.grid-in-stylesheet > h3 {
		grid-area: title;
	}

	.grid-in-stylesheet > picture:nth-of-type(1) {
		grid-area: one;
	}

	.grid-in-stylesheet > picture:nth-of-type(2) {
		grid-area: two;
	}

	.grid-in-stylesheet > picture:nth-of-type(3) {
		grid-area: three;
	}

	.grid-in-stylesheet > picture:nth-of-type(4) {
		grid-area: four;
	}

	.grid-in-stylesheet > picture:nth-of-type(5) {
		grid-area: five;
	}

	.grid-in-stylesheet > picture:nth-of-type(6) {
		grid-area: six;
	}

	.grid-in-stylesheet > picture:nth-of-type(7) {
		grid-area: seven;
	}

	.grid-in-stylesheet > picture:nth-of-type(8) {
		grid-area: eight;
	}

	.grid-in-stylesheet > button {
		grid-area: button;
		justify-self: end;
	}
}
